trainer: ocp

dataset:
  train:
    format: fairchem.src.fairchem.core.datasets.oc22_lmdb_dataset.OC22LmdbDataset
    src: /data/OC20/s2ef/2M/train/
    key_mapping:
      y: energy
      force: forces
    transforms:
      normalizer:
        energy:
          mean: 0.0
          stdev: 24.901469505465872
        forces:
          mean: 0.0
          stdev: 0.5111534595489502
      element_references:
        energy:
          file: configs/s2ef/all/coeff_2M.npz
    train_on_oc20_total_energies: True
    oc20_ref: configs/s2ef/all/oc20_ref.pkl
  val:
    src: /data/OC20/s2ef/all/val_12k_sub/

logger: wandb

outputs:
  energy:
    shape: 1
    level: system
  forces:
    irrep_dim: 1
    level: atom
    train_on_free_atoms: True
    eval_on_free_atoms: True

loss_functions:
  - energy:
      fn: mae
      coefficient: 4
  - forces:
      fn: l2mae
      coefficient: 100

evaluation_metrics:
  metrics:
    energy:
      - mae
    forces:
      - mae
      - cosine_similarity
      - magnitude_error
    misc:
      - energy_forces_within_threshold
  primary_metric: forces_mae
